.info-selectors {
    // border: 1px solid red;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    width: min(90vw, 70ch);
    background-color: var(--good-green);
    margin: 0 auto;
    button {
        // margin: 0 .5rem;
        appearance: none;
        border-style: none;
        padding: 1rem;
        // border-top: var(--tab-style);
        // border-left: var(--tab-style);
        // border-right: var(--tab-style);
        border-bottom: var(--tab-style);
        background-color: var(--good-green);
        color: var(--white);
        font-size: 1.1rem;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}